<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="simpler" version="2.3.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.92.0" targetFramework="net40" />
</packages>